<h1>Subscriptions</h1>

<p>There are <%= Subscription.public_count %> subscriptions available.</p>

<ul>
    <% @subscriptions.each do |subscription| %>
        <% unless subscription.archived? %>
            <li><%= link_to subscription.title, subscription %> <%= subscription.price %></li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Subscription", new_subscription_path %>
